*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #F1F1F1;
}

.hero{
	height: 130vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 8%;
	padding-right: 8%;
	overflow: hidden;
	background-color: #F1F1F1;
	box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 2;
}

.logo{
	color: #042944;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	z-index: 1;
}

.link {
	z-index: 1;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: #042944;
	text-decoration: none;
	font-weight: 500;
    font-size: 16px;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #98CCCE;
	transition: .4s;
}
.btn{
	background-color:#98CCCE;
	color: #F1F1F1;
	text-decoration: none;
    box-shadow: 9px 7px 25px rgba(152, 204, 206, 0.59);
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
    z-index: 1; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	top: 50%;
	transform: translateY(-50%);
}

.content img {
	width: 200px;
    margin-top: 55%;
    margin-bottom: 50px;
}

h1{
	color: #042944;
	font-size: 50px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.075em;
}
h3{
	color: #042944;
	font-size: 25px;
    margin-top: 20px;
	margin-bottom: 50px;
}
h4{
	color: #F1F1F1;
	letter-spacing: 2px;
	font-size: 20px;
}

#welcome-section {
	padding-top: 0px;
	margin-top: 0px;
	display: block;
	height: 100vh;
}
.about{
	width: 100%;
	padding: 100px 0px;
}
.about img{
	height: auto;
	width: 300px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #042944;
	font-size: 50px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.075em;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: #042944;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
    color: #042944;
	font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.075em; 
	margin-bottom: 45px;
}
button{
	background-color:#98CCCE;
	color: #F1F1F1;
	text-decoration: none;
	border: 2px solid transparent;
	box-shadow: 9px 7px 25px rgba(152, 204, 206, 0.59);
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
    color: #042944;
	border: 2px solid #042944;
	cursor: pointer;
}

.portofolio {
	margin-top: 200px;
}

.container{
    max-width:1200px;
    margin:0 auto;
}

.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{background:#F1F1F1;display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:'.';display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;width:100%;transform:scale(1.7);padding:80px 0}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none;transition:all .4s ease-in-out}.owl-carousel .owl-item img{background:#eee;display:block;width:100%;border-radius:5px;height:240px;object-fit:cover}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^='']{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}.owl-item .blanter-owl-image{opacity:0;transition:all .3s ease-in-out}.owl-item.active .blanter-owl-image{transform:scale(1);opacity:1}.owl-item .blanter-desc{transform:translate(0,40px);opacity:0}.owl-item.active .blanter-desc{transform:translate(0,0);opacity:1}.owl-dots{text-align:center;position:relative;bottom:0;left:0;right:0}.blanter-owl-image{z-index:1}.owl-carousel .owl-dots button{background:#ddd;width:11px;height:11px;border-radius:10px;margin:0 5px}.owl-carousel .owl-dots button.active{background:#2b69e2;width:20px}.sliderbanner.container{position:relative;max-width:1200px;margin:0 auto;padding:20px 0;overflow:hidden}.owl-item.active{opacity:.5}.owl-item.active.center{opacity:1}.owl-nav{position:absolute;z-index:1;width:100%;font-size:40px;top:40%}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev{box-shadow:0 5px 8px rgb(0 0 0 / 15%);background:#fff;height:50px;line-height:0;width:50px;border-radius:100%;position:absolute}.owl-carousel .owl-nav button.owl-next{right:18%}.owl-carousel .owl-nav button.owl-prev{left:18%}
  @media screen and (max-width:980px){.owl-carousel .owl-stage-outer{transform:scale(1.5)}}
  @media screen and (max-width:768px){.owl-carousel .owl-stage-outer{transform:scale(1);padding:10px 0}.owl-nav{display:none}}


.title h2{
	color: #042944;
	font-size: 50px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.075em;
	text-transform: capitalize;
	margin: 30px auto;
	text-align: center;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #98CCCE;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}
footer p:nth-child(1){
	font-size: 30px;
	color: #F1F1F1;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: #F1F1F1;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.contact-link{
	display: flex;
}
.contact-link a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #042944;
	border-radius: 50%;
	margin: 22px 10px;
	color: #F1F1F1;
	text-decoration: none;
	font-size: 20px;
}
.contact-link a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#042944;
	bottom: 35px;
	font-size: 14px; 
}

/*About*/

.content1{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content1 img {
	width: 200px;
    margin-top: 10%;
    margin-bottom: 50px;
}

.profile h3{
	color: #042944;
	font-size: 25px;
    margin-top: 120px;
	margin-bottom: 50px;

}

.list ul {
    max-width: 550px;
    margin: 120px auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
.list li {
    margin: 16px 0;
}

/* media query ketika membuka di mobile */
@media screen and (max-width: 600px) {
    .btn {
		font-size: 10px;
	}
}